html {
    background-image: url('bg (2).png');
    background-size: cover;
    background-position-y: -55px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
.main {
    position: fixed;
    bottom: 25%;
    right: 10%;
    color: #fff;
    font-family: 'serif',
    sans-serif;
    font-size: 13px;

}
.mkbhd {
    font-size: 20px;
    
}
a {
    text-decoration: none;
    color:#fff;
}
.main > div {
    display: inline-block;
    padding: 10px;
}
.main > div > a {
    padding: 6px;
}
.p-2 {
    padding: 8px;
}
.mkbhd {
    margin: 0;
    
}
h2 {
    color: yellow;
}
.links:hover {
    opacity: .8;
}
a:hover {
    opacity: .4;
}
